html {
  scroll-behavior: smooth;
}
// img-block
img {
  display: block;
}

// btn-hover
.btn-warning-hover {
  &:hover {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
  }
}
.btn-outline-secondary-hover {
  &:hover {
    color: $secondary;
    background-color: $warning;
    border-color: $warning;
    & > .custom-heart {
      color: $danger;
    }
    & > .custom-share {
      color: $primary;
    }
  }
  & > i {
    color: $secondary;
  }
}

// callout
.callout {
  padding: 14px;
  border-left: 1px solid;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout-x {
  padding: 14px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-left-width: 5px;
  border-right-width: 5px;
  border-radius: 3px;
}

.callout-warning {
  border-color: $warning;
}

// nav
.nav{
  .active {
    font-weight: bold;
    border-bottom: 2px solid $warning;
  }
}

// ad
.ads{
  position: sticky;
  top: 82px;
  height: calc(70vh - 82px); // 符號前後都要加空格
  overflow-y: scroll;
  @media (max-width: 992px) {
    &{
      position: relative;
      top: 0;
      height: auto;
      overflow: hidden;
    }
  }
}




